*{

    margin: 0;
    padding: 0;
    /* The box-sizing property allows us to include the padding and border in an element's total width and height. */
    box-sizing: border-box;
    
}

.body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav  ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    columns: #555555;;
}

p{
    color: #555555;
}

.container{
    max-width: 1300px;
    /* browse determine the margins */
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


/* row class has been reused to flex items */
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* space evenly distributed among flex items end even space equal space before first and after last block */
    justify-content: space-around;

}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    /* If the max-width property is set to 100%, the image will scale down if it has to, but never scale up to be larger than its original size: */
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    transition: 0.5s;
    border-radius: 30px;
}

.header{
    background: radial-gradient(#fff, #ffd6d6);

}

.header .row{
    margin-top: 70px;
}

.btn:hover{
    background: #563434;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}


/* N/B diff btwn container and small container is max-width value  1300px vs 1080 */
/* they all house a row */
.small-container{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1080px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}

/* Offer section */

.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

.small{
    color: #555;
}

/* Testimonials*/

.testimonial{
    padding-top: 50px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50px;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}


.testimonial .col-3 p{
    margin: 12px 0;
    font-size: 12px;
    color: #777;

}


.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;

}

/* Brands */

.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    /* initially display the image at gray scale 100% meaning the image is gray (no original color) */
    filter: grayscale(100%);
}


.col-5 img:hover{
    width: 100%;
    cursor: pointer;
    /* initially no color, but now apply grayscale of 0 as a result removing all gray color to display original image color i.e gray */
    filter: grayscale(0);
}

/* Footer using the same container class as header section */


.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    /* When three values are specified, the first padding applies to the top, the second to the right and left, the third to the bottom.
    When four values are specified, the paddings apply to the top, right, bottom, and left in that order. */
    padding: 60px 0 20px;

}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;

}

.footer-col-1{
    flex-basis: 30%;
}


.footer-col-2{
    /* take all available space */
    flex: 1;
    text-align: center;

}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;

}

.footer-col-3 ul, .footer-col-4 ul{
    list-style-type: none;

}

.app-logo{
    margin-top: 20px;

}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;

}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* all products */

.row-2{
    /* space will be created btwn blocks and push blocks towards the biggining and end, mostly used in flex container with two items  */
    justify-content: space-between;
    margin: 100px auto 50px;
}

.row-2 select{
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus{
    outline: none;
}



.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background: #fff;
}


.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}




/* media query for menu  less than 800 px */

@media only screen and (max-width :800px){

    .container{
        max-width: 1300px;
        /* browse determine the margins */
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        /* take the whole width of screen */
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    nav ul li a{
        color: #fff;
        font-size: 10px;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }


    .row-2 h2{
        font-size: 25px;
    }

    .row-2 select{
        width: 200px;
    }
}


/* media query for menu  less than 800 px */

@media only screen and (max-width : 600px){

    .container{
        max-width: 1000px;
        /* browse determine the margins */
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header .container .row .col-2 h1{
        font-size: 45px;
    }

    .header .container .row .col-2 p{
        font-size: 15px;
    }
    .row{
        text-align: center;
    }

    /* flex-basis is applied to items in flex container and depending on flex percentage an item may occupy the whole width or share equally */
    /* the items will each take the whole width as it is 100% */
    .col-2, .col-3, .col-4{
        flex-basis: 100%;

    }

    .row-2 h2{
        font-size: 15px;
    }

    .row-2 select{
        width: 120px;
    }
}